doctype html(lang="en")
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  title= title
  - for (var i = 0; i< cssFiles.length; i++)
    link(rel="stylesheet", type="text/css", href="#{cssFiles[i]}")

body
  .navbar.navbar-default
    .container-fluid
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-responsive-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="javascript:void(0)")
          | #{title}
          .ripple-container
      .navbar-collapse.collapse.navbar-responsive-collapse
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.dropdown-toggle(href="#", data-target="#", data-toggle="dropdown", aria-expanded="false")
              | Menu
              b.caret
              .ripple-container
            ul.dropdown-menu
              li.divider
              li
                a(href="javascript:void(0)") About

  block content

  - for (var i = 0; i< jsFiles.length; i++)
    script(type="text/javascript" src="#{jsFiles[i]}")

  block js
